body{
    background-color: black;
}
h1{
    text-transform: uppercase;
}
.container{
    width: 50%;
    margin-left: 25%;
    margin-top:10px ;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
}
#container-img{
    width: 100%;
    border:10px solid white ;
}
